@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// COLORS
$c-primary: #8CC63F;
$c-white: #ffffff;
$c-black: #000000;
$c-dark: #1B1D21;
$c-blue: #3EA2FF;
$c-grey: #85879e;
// FONTS
$f-primary: "Roboto", sans-serif;
$f-secondary: "Bebas Neue", sans-serif;

$content-width: 80rem;

// SCREEN SIZES
$xl: 1920px;
$lg: 1360px;

html {
  // 1920px -> 1rem -> 16px;
  font-size: 0.833vw;

  @media (min-width: $xl) {
    font-size: 16px;
  }
}
body {
  font-family: $f-primary;
  margin: 0;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100% !important;
}

.btn {
  background: none;
  border: none;
  font-family: $f-secondary;
  padding: 0 2.75rem;
  height: 3rem;
  transition: all 0.3s;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1.25rem;
  line-height:1.5rem;
}

.btn-primary {
  background: $c-primary;
  color: $c-white;
  border: 0.075rem solid $c-primary;
}
.btn-outlined {
  border: 0.075rem solid $c-primary;
  color: $c-primary;
  &:hover {
    background: $c-primary;
    color: $c-white;
  }
}

@import './blocks/header';
@import './blocks/breadcumbs';
@import './blocks/home';

.content {
  position: relative;
  background: $c-dark;
  display: flex;
  justify-content: center;
}

