.footer {
  background-color: #000000;
  height: 4rem;
  display: flex;
  align-items: center;
  &__label {
    width: $content-width;
    margin: auto;
    color: #8a8a8a;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 400;
  }

  @media (max-width: $sm) {
    height: 2.5rem;
    padding: 0 1.5rem;
    
    .footer__label {
      font-size: 0.5625rem;
      line-height: 0.6875rem;
    }
  }
}
