.header {
  background-color: #000000;
  height: 6rem;
  display: flex;
  justify-content: center;
  font-family: $f-secondary;

  .header__inner {
    display: flex;
    align-items: center;
    width: $content-width;
    margin: 0 auto;
    @media (max-width: $lg) {
      padding: 0 1rem; 
    }
  }
  .header__logo svg {
    height: 3.75rem;
    width: 11.25rem;
  }
  .menu {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    height: 100%;
    margin-left: auto;
    .menu-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0 1rem;
      text-decoration: none;
      position: relative;
      min-width: 4rem;
      color: #8e9398;
      text-decoration: none;
      white-space: nowrap;
      span {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        background: #92da32;
        opacity: 0;
        transition: all 0.3s;
        &:nth-child(2) {
          height: calc(1rem / 16);
        }
        &:nth-child(3) {
          height: calc(1rem / 16);
        }
        &:nth-child(4) {
          height: calc(1rem / 8);
        }
        &:nth-child(5) {
          height: calc(1rem / 4);
        }
      }
      &.active,
      &:hover {
        color: #92da32;
        span {
          &:nth-child(2) {
            opacity: 0.4;
            bottom: calc(1rem / 16 * 13);
          }
          &:nth-child(3) {
            opacity: 0.6;
            bottom: calc(1rem / 16 * 10);
          }
          &:nth-child(4) {
            opacity: 0.7;
            bottom: calc(1rem / 16 * 6);
          }
          &:nth-child(5) {
            opacity: 1;
          }
        }
      }
    }
  }
}